.container_fork
  background-image: url("../img/fork-app.png")
  background-size: cover
  padding-top: 108px
  padding-bottom: 538px
  height: 100%
  max-width: 100%
  background-attachment: relative
  background-position: center center
.title-fork-1
  color: #d4d4d4
  font-family: Montserrat,sans-serif
  font-size: 82px
  width: 100%
  margin-bottom: 18px
.title-fork-2
  color: #8d81ac
  font-family: Lato
  font-size: 30px
  font-weight: 400
  width: 100%
  margin-bottom: 18px
.text-fork
  color: #848e97
  font-family: Montserrat
  font-size: 16px
  font-weight: 400